<div class="controls text-light bg-primary px-1 pt-1">
  @let tournament = tournamentService.tournament;
  @let settings = tournamentService.tournament()?.settings;
  @if (tournament && settings) {
    <div class="p-1">
      <div (click)="printCollapsed = !printCollapsed" class="position-relative hoverable">
        <h5>Print</h5>
        <i
          class="pull-right fa position-absolute top-0 end-0"
          [class.fa-chevron-up]="!printCollapsed"
          [class.fa-chevron-down]="printCollapsed"
        ></i>
      </div>
      <div [collapse]="printCollapsed" [isAnimated]="true">
        <button class="btn btn-secondary w-100" (click)="printPlayerList()">Print Players List</button>
        <button class="btn btn-secondary w-100" (click)="printPlayersTables()">Print Players Tables</button>
        <button class="btn btn-secondary w-100" (click)="printTables()">Print Table Score Cards</button>
        <button class="btn btn-secondary w-100" (click)="printPlayersScores()">Print Players Scores</button>
      </div>
    </div>
    <div class="p-1">
      <div (click)="pointsCollapsed = !pointsCollapsed" class="position-relative hoverable">
        <h5>Points and Scoring</h5>
        <i
          class="pull-right fa position-absolute top-0 end-0"
          [class.fa-chevron-up]="!pointsCollapsed"
          [class.fa-chevron-down]="pointsCollapsed"
        ></i>
      </div>
      <div [collapse]="pointsCollapsed" [isAnimated]="true">
        <div>
          <label for="startingScore">Starting Game Score</label>
          <input
            type="number"
            #startingScore
            [class.is-invalid]="!settings.startingGameScore && settings.startingGameScore <= 0"
            id="startingScore"
            class="form-control"
            [(ngModel)]="settings.startingGameScore"
          />
          <div class="invalid-feedback">Score must be a non-zero positive number</div>
        </div>

        <div>
          <label for="firstPlaceUma">First place Uma</label>
          <input
            type="number"
            #firstPlaceUma
            [class.is-invalid]="!settings.firstPlaceUma"
            id="firstPlaceUma"
            class="form-control"
            [(ngModel)]="settings.firstPlaceUma"
          />
          <div class="invalid-feedback">You must input a value</div>
        </div>

        <div>
          <label for="secondPlaceUma">Second place Uma</label>
          <input
            type="number"
            #secondPlaceUma
            [class.is-invalid]="!settings.secondPlaceUma"
            id="secondPlaceUma"
            class="form-control"
            [(ngModel)]="settings.secondPlaceUma"
          />
          <div class="invalid-feedback">You must input a value</div>
        </div>

        <div>
          <label for="thirdPlaceUma">Third place Uma</label>
          <input
            type="number"
            #thirdPlaceUma
            [class.is-invalid]="!settings.thirdPlaceUma"
            id="thirdPlaceUma"
            class="form-control"
            [(ngModel)]="settings.thirdPlaceUma"
          />
          <div class="invalid-feedback">You must input a value</div>
        </div>

        <div>
          <label for="fourthPlaceUma">Fourth place Uma</label>
          <input
            type="number"
            #fourthPlaceUma
            [class.is-invalid]="!settings.fourthPlaceUma"
            id="fourthPlaceUma"
            class="form-control"
            [(ngModel)]="settings.fourthPlaceUma"
          />
          <div class="invalid-feedback">You must input a value</div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="settings.winnerRiichiSticks" id="riichiBets" />
          <label class="form-check-label" for="riichiBets"> Winner takes remaining riichi bets? </label>
        </div>
      </div>
    </div>
    <div class="p-1">
      <div (click)="roundsCollapsed = !roundsCollapsed" class="position-relative hoverable">
        <h5>Rounds</h5>
        <i
          class="pull-right fa position-absolute top-0 end-0"
          [class.fa-chevron-up]="!roundsCollapsed"
          [class.fa-chevron-down]="roundsCollapsed"
        ></i>
      </div>
      <div [collapse]="roundsCollapsed" [isAnimated]="true">
        <label for="roundDuration"
          >Round duration: <span class="small">{{ duration }}</span></label
        >
        <div class="d-flex gap-1">
          <div class="form-group">
            <label for="roundDuration">Hours</label>
            <input
              type="number"
              id="roundDuration"
              class="form-control"
              [(ngModel)]="hours"
              (change)="setRoundDuration()"
            />
          </div>
          <div class="form-group">
            <label for="roundDuration">Minutes</label>
            <input
              type="number"
              id="roundDuration"
              class="form-control"
              [(ngModel)]="minutes"
              (change)="setRoundDuration()"
            />
          </div>
        </div>

        @for (round of tournament()?.rounds; track $index; let roundNum = $index) {
          <div class="form-group">
            <label for="roundDuration">Round {{ roundNum + 1 }} starts at:</label>
            <input
              type="text"
              placeholder="Datepicker"
              class="form-control"
              bsDatepicker
              [bsConfig]="getDatePickConfig()"
              [(ngModel)]="round.startingTime"
            />
          </div>
        }
      </div>
    </div>
    <div class="p-1">
      <div (click)="saveCollapsed = !saveCollapsed" class="position-relative hoverable">
        <h5>Save</h5>
        <i
          class="pull-right fa position-absolute top-0 end-0"
          [class.fa-chevron-up]="!saveCollapsed"
          [class.fa-chevron-down]="saveCollapsed"
        ></i>
      </div>
      <div [collapse]="saveCollapsed" [isAnimated]="true">
        <p>Save changes made to the tournament?</p>
        <button
          type="button"
          class="btn btn-secondary w-100"
          (click)="tournamentService.saveTournamentToLocalStorage()"
          [disabled]="
            !checkInputs(
              startingScore.value,
              firstPlaceUma.value,
              secondPlaceUma.value,
              thirdPlaceUma.value,
              fourthPlaceUma.value
            )
          "
        >
          Save changes
        </button>
        <button
          type="button"
          class="btn btn-secondary w-100"
          (click)="tournamentService.saveTournamentToClipboard()"
          [disabled]="
            !checkInputs(
              startingScore.value,
              firstPlaceUma.value,
              secondPlaceUma.value,
              thirdPlaceUma.value,
              fourthPlaceUma.value
            )
          "
        >Copy to clipboard</button>
      </div>
    </div>
  }
</div>
