@import "../../../styles/styles";
.controls {
  position: relative;
  @include media-breakpoint-up(md) {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10rem;
  }
}
