
/* Remove input number spinners from Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove input number spinners from Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

//hide root scrollbars
:root{
  overflow: hidden;
}

tab {
  max-height: 100vh;
  overflow-y: scroll;
  padding-bottom: 10rem;
}

