@media print {
    .dont-print {
        display: none;
    }
    table {
        break-inside: avoid;
        break-after: auto;
    }

    h2 {
        break-before: always;
        break-after: avoid;
    }
}

