@use 'sass:color';
$color: hsl(44, 100%, 50%);
th:not(:first-child){
    padding: 0 .5em;
}
// @for $i from 1 through 100 {
//   .table-#{$i} {
//     background-color: adjust-hue($color, $i*30);
//   }
// }