@import "../../../styles/styles";
.rounds {
  position: relative;
  padding-bottom: 100px;
  @include media-breakpoint-up(md) {
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
  }
}

.repetitions {
  position: absolute;
  bottom: -.2rem;
  right: .1rem;
  font-size: .85rem;
  color: $warning;

}
