@let settings = tournamentService.tournament()?.settings;
<div class="outer-box mb-4">
  <table class="score-table print-table header-column">
    <tbody>
      <!-- Row 1 -->
      <tr class="thick-b-top xl-row">
        <td>Name</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.player.name }}</td>
        }
      </tr>
      <!-- Row 2 -->
      <tr>
        <td>Id</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.player.associationId }}</td>
        }
      </tr>
      <tr>
        <td>Seat</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.wind }}</td>
        }
      </tr>
      <!-- Repeat rows as needed -->
      <tr class="thick-b-top">
        <td>Starting Points</td>
        @for (_ of table().seats; track $index) {
          <td>{{ settings!.startingGameScore }}</td>
        }
      </tr>
      <tr>
        <td>Loans</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.loan }}</td>
        }
      </tr>
      <tr>
        <td>Final</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.gameScore }}</td>
        }
      </tr>
      <tr class="thick-b-top">
        <td>Net Score</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.net }}</td>
        }
      </tr>
      <tr>
        <td>Uma</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.uma }}</td>
        }
  </tr>
      <tr>
        <td>TOTAL</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.finalScore }}</td>
        }
      </tr>
      <tr>
        <td>Penalties</td>
        @for (playerSeat of table().seats; track playerSeat.player.id) {
          <td>{{ playerSeat.penalties }}</td>
        }
      </tr>
      <tr class="thick-b-top thick-b-bottom">
        <td>Signatures</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="right-tables">
    <table class="small-table print-table header-column">
      <tr>
        <td>Round</td>
        <td>{{ roundNumber() }}</td>
      </tr>
      <tr>
        <td>Table</td>
        <td>{{ table().number }}</td>
      </tr>
    </table>
    <table class="small-table space aligner print-table header-row">
      <tr>
        <td class="text-center">Riichi sticks</td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    <table class="small-table print-table header-row">
      <tr>
        <td class="text-center">Referee</td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>
</div>
