@let settings = tournamentService.tournament()?.settings;
<div class="outer-box mb-4">
  <table class="score-table">
    <thead></thead>
    <tbody>
      <!-- Row 1 -->
      <tr class="thick-b-top ">
        <td>Name</td>
        @for (playerSeat of table().players; track playerSeat.player.id) {
            <td>{{playerSeat.player.name}}</td>
        }
      </tr>
      <!-- Row 2 -->
      <tr class="">
        <td>Id</td>
        @for (playerSeat of table().players; track playerSeat.player.id) {
            <td>{{playerSeat.player.associationID}}</td>
        }
      </tr>
      <tr class="">
        <td>Seat</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <!-- Repeat rows as needed -->
      <tr class="thick-b-top ">
        <td>Starting Points</td>
        @for (_ of table().players; track $index) {
            <td>{{settings!.startingGameScore}}</td>
        }
      </tr>
      <tr class="">
        <td>Loans</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="">
        <td>Final Score</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="thick-b-top ">
        <td>Net Score</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="">
        <td>Uma</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="">
        <td>TOTAL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="">
        <td>Penalties</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="thick-b-top  thick-b-bottom">
        <td>Signatures</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="right-tables">
    <table class="round-table">
      <tr>
        <td>Round</td>
        <td>{{roundNumber()}}</td>
      </tr>
      <tr>
        <td>Table</td>
        <td>{{table().number}}</td>
      </tr>
    </table>
    <table class="round-table space aligner">
      <tr>
        <td class="text-center">Riichi sticks</td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
    <table class="round-table">
      <tr>
        <td class="text-center">Referee</td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>
</div>
