@import '../../../styles/tableStyles.scss';
td, th {
    padding: .25rem;
    height: 2.13rem;
}

td {
    width: 20rem;
}

.xl-row {
    height: 4rem;
}

.outer-box {
    display: flex;
}

.right-tables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-table {
    margin: 0 .2rem;
    width: 8rem;
}

.score-table {
    font-size: .9rem;
    td {
        width: 9.3rem;
    }
}

.aligner {
    margin-bottom: .3rem;
}