@if (tournamentService.tournament()) {
  <div class="row position-relative">
    <div class="col-md-4 pe-0">
      <app-tournament-controls
        (onPrintPlayerList)="print('playerList')"
        (onPrintPlayersTables)="print('playerTables')"
        (onPrintTables)="print('tables')"
        (onPrintPlayersScores)="print('playerScores')"
      ></app-tournament-controls>
    </div>
    <div class="col-md-8 ps-0">
      <tabset>
        <tab heading="Player List">
          <div id="playerList">
            <app-player-list></app-player-list>
          </div>
        </tab>
        <tab heading="Player Tables">
          <div id="playerTables">
            <app-player-tables></app-player-tables>
          </div>
        </tab>
        <tab heading="Table score cards">
          <div id="tables">
            @for (round of tournamentService.tournament()?.rounds; track $index; let roundNumber = $index) {
              <h2 class="text-center">Round {{ roundNumber + 1 }}</h2>
              @let roundDuration = tournamentService.tournament()?.settings?.roundDuration;
              @if (round.startingTime && roundDuration) {
                <p class="text-center">
                  {{ datesService.formatDate(round.startingTime, "MMM DD YYYY") }}
                  {{ datesService.formatDate(round.startingTime, "HH:mm") }}-{{
                    datesService.addDuration(round.startingTime, roundDuration, "HH:mm")
                  }}
                </p>
              }
              @for (table of round.tables; track $index; let tableNumber = $index) {
                <app-table [table]="table" [roundNumber]="roundNumber + 1"></app-table>
              }
            }
          </div>
        </tab>
        <tab heading="Player scores">
          <div id="playerScores">
            <app-player-scores></app-player-scores>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
} @else {
  <div class="container">
    <div class="row pt-2 text-center">

      <div class="col-12 col-lg-6 pt-4">
        <h2>New Tournaments</h2>
        <p>Where do you want to load the seatings from?</p>
        <div class="d-lg-flex align-items-center justify-content-center">
          <button class="btn-primary btn w-50" (click)="loadSeating('clip')">From the clipboard</button>
          <p class="text-center p-0 my-0 mx-2">or</p>
          <button class="btn-primary btn w-50" (click)="loadSeating('localStorage')">From the browser</button>
        </div>
      </div>

      <div class="col-12 col-lg-6 pt-4">
        <h2>Saved Tournaments</h2>
        <p>Load previously saved tournament?</p>
        <div class="d-lg-flex align-items-center justify-content-center">
          <button class="btn-primary btn w-50" (click)="this.tournamentService.loadTournamentFromClipboard()">
            From the clipboard
          </button>
          @if (tournamentService.savedTournamentExists()) {
            <p class="text-center p-0 my-0 mx-2">or</p>
            <button class="btn-primary btn w-50" (click)="this.tournamentService.loadTournamentFromLocalStorage()">
              From the Browser
            </button>
          }
        </div>
      </div>

    </div>
  </div>
}
