@if (tournamentService.tournament()) {
  <div class="row bg-light position-relative">
    <div class="col-md-4 pe-0">
      <app-tournament-controls></app-tournament-controls>
    </div>
    <div class="col-md-8 ps-0">
      <nav class="p-2 bg-secondary border-bottom border-primary">
        <button class="btn btn-secondary" (click)="printTables()">Print tables</button>
      </nav>
      <div #tables class="print-preview">
        @for (round of tournamentService.tournament()?.rounds; track $index; let roundNumber = $index) {
          <h2 class="text-center">Round {{ roundNumber + 1 }}</h2>
          @let roundDuration = tournamentService.tournament()?.settings?.roundDuration;
          @if (round.startingTime && roundDuration) {
            <p class="text-center">
              {{ datesService.formatDate(round.startingTime, "MMM DD YYYY") }}
              {{ datesService.formatDate(round.startingTime, "HH:mm") }}-{{
                datesService.addDuration(round.startingTime, roundDuration, "HH:mm")
              }}
            </p>
          }
          @for (table of round.tables; track $index; let tableNumber = $index) {
            <app-table [table]="table" [roundNumber]="roundNumber + 1"></app-table>
          }
        }
      </div>
    </div>
  </div>
} @else {
  <div class="container">
    <textarea class="form-control" rows="10" [(ngModel)]="loadString"></textarea>
    <button class="btn-primary btn" (click)="loadSeating()">Load Seating</button>
  </div>
}
