<div class="container pt-2">
  <p>Welcome, here you'll find some tools to help you organize your local mahjong tournaments.</p>
  <p>
    The <strong>Hanchan</strong> section generates random seats based on the premise that each player should play as
    many other players as possible.
  </p>
  <p>
    The <strong>Tournament</strong> section will help you create some resources for your tournament, like table score sheets. 
  </p>
  <p>
    In the <strong>Scoring</strong> section you will be able to record your player scores. 
  </p>
  <p>Happy gaming!</p>
</div>